.hero {
  background-color:blue;
  text-align: center;
}
.hero h1{
    border: 4px solid red;
}
.quiz{
    background-color: white;
    color:black;
    padding-left:260px;
    padding-right:260px;
    
}
.qus{
    background-color: azure;
}
.a{
    background-color: red;

}
