* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
        "header header"
        "sidebar main";
    height: 100vh;
    gap: 10px;
    padding: 10px;
}

.header {
    grid-area: header;
    text-align: center;
    padding: 20px;
    background-color: blue;
    color:white;
}

.nav {
    grid-area: sidebar;
    padding: 20px;
    background-color: black;
    color:white;
}
.main {
    grid-area: main;
    display: grid;
    gap: 15px;
}

.users {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    height:10px;
}

.box {
    padding: 15px;
    border: 1px solid #cccc;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height:100px;
}

.card {
    padding: 20px;
    border: 1px solid #ccc;
}
